<!DOCTYPE html>
    <html lang="uk-UA">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login and Signup Form </title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/auth.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <div class="logo" lang="en">Web<span class="logo-header">Studio</span></div>
                    <header>Увійти</header>
                    <form action="/auth/login" method="POST">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" id="username" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Пароль" id="password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="form-link">
                            <a href="#" class="forgot-pass">Забули пароль?</a>
                        </div>

                        <div class="field button-field">
                            <button>Увійти</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Немає акаунту? <a href="#" class="link signup-link">Зареєструйтеся!</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Увійти за допомогою Facebook</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="images/google.png" alt="" class="google-img">
                        <span>Увійти за допомогою Google</span>
                    </a>
                </div>

            </div>

            <!-- Signup Form -->

            <div class="form signup">
                <div class="form-content">
                    <div class="logo" lang="en">Web<span class="logo-header">Studio</span></div>
                    <header>Реєстрація</header>
                    <form id="signupForm" action="/auth/registration" method="POST">
                        <div class="field input-field">
                          <input type="email" placeholder="Email" name="email" class="input" required>
                        </div>
                      
                        <div class="field input-field">
                          <input type="password" placeholder="Створіть пароль" name="password" class="password" required>
                        </div>
                      
                        <div class="field input-field">
                          <input type="password" placeholder="Підтвердіть пароль" name="confirmPassword" class="password" required>
                          <i class='bx bx-hide eye-icon'></i>
                        </div>
                      
                        <div class="field button-field">
                          <button type="submit">Зареєструватися</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Уже маєте акаунт? <a href="#" class="link login-link">Увійдіть!</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Увійти за допомогою Facebook</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="images/google.png" alt="" class="google-img">
                        <span>Увійти за допомогою Google</span>
                    </a>
                </div>

            </div>
        </section>

        <!-- JavaScript -->
        <script src="js/auth.js"></script>
    </body>
</html>