<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebStudio</title>
    <link rel="icon" href="images/logo.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">

            <div class="container">
                <nav class="nav">
                    <a href="/" class="logo" lang="en">Web<span class="logo-header">Studio</span></a>
                    <ul class="nav-list">
                        <li class="nav-item"><a href="/" class="nav-link">Студія</a></li>
                        <li class="nav-item"><a href="/portfolio" class="nav-link">Портфоліо</a></li>
                        <li class="nav-item"><a class="nav-link" id="open-form-modal">Контакти</a>
                    </ul>
                </nav>
                <ul class="contacts-list">
                    <li>
                        <a href="mailto:webstudio@gmail.com" class="nav-contacts">webstudio@gmail.com</a>
                    </li>
                    <li>
                        <a href="tel:+380960458920" class="nav-contacts">+38 096 045 89 20</a>
                    </li>
                        
                        <% if (isAuthenticated) { %>
                            <li>
                                <a href="" class="nav-LogOutlink" id="logoutButton">Log out</a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="/auth" class="nav-LogInlink">Log in</a>
                            </li>
                        <% } %>
                </ul>
            </div>

            <hr class="line">
        </header>

        <main>
            <section class="hero">
                <img class="hero-img" src="./images/hero.webp" alt="hero" width="1700" height="480">
                <div class="hero-container">
                    <h1 class="hero-title">Ефективні рішення для вашого бізнесу</h1>
                    <button type="submit" class="button" id="open-modal-btn">Замовити послугу</button>
                </div>
            </section>

            <section class="section-advantages">
                <h2 class="hidden-title">Переваги</h2>
                <ul class="advantages">
                    <li class="advantages-item">
                        <div class="advantages-container">
                            <img class="advantage-img" src="./images/antenna.svg" alt="antenna">
                        </div>
                        <h3 class="advantage-name">Увага до деталей</h3>
                        <p class="advantage-description">Ідейні міркування, і навіть початок повсякденної роботи з
                            формування позиції.</p>
                    </li>
                    <li class="advantages-item">
                        <div class="advantages-container">
                            <img class="advantage-img" src="./images/clock.svg" alt="clock">
                        </div>
                        <h3 class="advantage-name">Пунктуальність</h3>
                        <p class="advantage-description">Завдання організації, особливо рамки і місце навчання кадрів
                            тягне
                            у себе.</p>
                    </li>
                    <li class="advantages-item">
                        <div class="advantages-container">
                            <img class="advantage-img" src="./images/diagram.svg" alt="diagram">
                        </div>
                        <h3 class="advantage-name">Планування</h3>
                        <p class="advantage-description">Так само консультація з широким активом значною мірою зумовлює.
                        </p>
                    </li>
                    <li class="advantages-item">
                        <div class="advantages-container">
                            <img class="advantage-img" src="./images/astronaut.svg" alt="astronaut">
                        </div>
                        <h3 class="advantage-name">Сучасні технології</h3>
                        <p class="advantage-description">Значимість цих проблем настільки очевидна, що реалізація
                            планових
                            завдань.</p>
                    </li>
                </ul>
            </section>

            <section class="section">
                <h2 class="section-title">Чим ми займаємося</h2>
                <ul class="services">
                    <li class="services-item">
                        <figure>
                            <a href=""><img src="./images/img.webp" alt="Програміст пише код" width="370"
                                    height="294"></a>
                            <figcaption class="servises-figcaption">
                                <h3 class="servises-item-title">Десктопні додатки</h3>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="services-item">
                        <figure>
                            <a href=""><img src="./images/img(1).webp"
                                    alt="Розробник переносить мобільний застосунок на ноутбук" width="370"
                                    height="294"></a>
                            <figcaption class="servises-figcaption">
                                <h3 class="servises-item-title">Мобільні додатки</h3>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="services-item">
                        <figure>
                            <a href=""><img src="./images/img(2).webp"
                                    alt="Графічний дизайнер працює з мозаїкою на планшеті" width="370" height="294"></a>
                            <figcaption class="servises-figcaption">
                                <h3 class="servises-item-title">Дизайнерські рішення</h3>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>

            <section class="our-team">
                <h2 class="section-title">Наша команда</h2>

                <ul class="workers">
                    <li class="workers-item">
                        <img src="./images/img(3).webp" alt="Вовк Андрій" width="270" height="260">
                        <div class="worker-description">
                            <h3 class="worker-name">Вовк Андрій</h3>
                            <p class="worker-profeccion">Project Manager</p>
                            <ul class="social-networks">
                                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                                <li><a href="https://twitter.com/" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                                <li><a href="https://ua.linkedin.com/" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="workers-item">
                        <img src="./images/img(5).webp" alt="Білявський Вадим" width="270" height="260">
                        <div class="worker-description">
                            <h3 class="worker-name">Білявський Вадим</h3>
                            <p class="worker-profeccion">QA Engineer/Admin</p>
                            <ul class="social-networks">
                                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                                <li><a href="https://twitter.com/" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                                <li><a href="https://ua.linkedin.com/" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="workers-item">
                        <img src="./images/img(4).webp" alt="Гнатів Тетяна" width="270" height="260">
                        <div class="worker-description">
                            <h3 class="worker-name">Гнатів Тетяна</h3>
                            <p class="worker-profeccion">Leam Lead</p>
                            <ul class="social-networks">
                                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                                <li><a href="https://twitter.com/" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                                <li><a href="https://ua.linkedin.com/" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="workers-item">
                        <img src="./images/img(5).webp" alt="Коза Денис" width="270" height="260">
                        <div class="worker-description">
                            <h3 class="worker-name">Коза Денис</h3>
                            <p class="worker-profeccion">Backend Developer</p>
                            <ul class="social-networks">
                                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                                <li><a href="https://twitter.com/" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                                <li><a href="https://ua.linkedin.com/" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="workers-item">
                        <img src="./images/img(6).webp" alt="Вовк Іван" width="270" height="260">
                        <div class="worker-description">
                            <h3 class="worker-name">Вовк Іван</h3>
                            <p class="worker-profeccion">Frontend Developer</p>
                            <ul class="social-networks">
                                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                                <li><a href="https://twitter.com/" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                                <li><a href="https://ua.linkedin.com/" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </section>
        </main>

        <footer class="footer">
            <div>
                <a href="" class="logo" lang="en">Web<span class="logo-footer">Studio</span></a>
                <address>
                    <ul class="address-list">
                        <li class="address-item">
                            <a href="https://www.google.com/maps/place/%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82+%D0%97%D0%BB%D1%83%D0%BA%D0%B8,+20,+%D0%A2%D0%B5%D1%80%D0%BD%D0%BE%D0%BF%D1%96%D0%BB%D1%8C,+%D0%A2%D0%B5%D1%80%D0%BD%D0%BE%D0%BF%D1%96%D0%BB%D1%8C%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+46000/@49.5597556,25.6207024,17z/data=!3m1!4b1!4m5!3m4!1s0x473031584d2e9279:0xddb1cc28e0d7bbc5!8m2!3d49.5597521!4d25.6232773F"
                                class="address" target="_blank" rel="noopener noreferrer"> м.Тернопіль, проспект Злуки,
                                20</a>
                        </li>
                        <li class="address-item">
                            <a href="mailto:webstudio@gmail.com" class="address-contacts">webstudio@gmail.com</a>
                        </li>
                        <li class="address-item">
                            <a href="tel:+380960458920" class="address-contacts">+38 096 045 89 20</a>
                        </li>
                    </ul>
                </address>
            </div>
            <div class="footer-join">
                <h3 class="join-title">Приєднуйтесь</h3>
                <ul class="social-networks">
                    <li><a href="https://www.instagram.com/" class="fa fa-instagram footer-fa"></a></li>
                    <li><a href="https://twitter.com/" class="fa fa-twitter footer-fa"></a></li>
                    <li><a href="https://www.facebook.com/" class="fa fa-facebook footer-fa"></a></li>
                    <li><a href="https://ua.linkedin.com/" class="fa fa-linkedin footer-fa"></a></li>
                </ul>
            </div>
            <div class="subscription">
                <h3 class="subscription-title">Підпишіться на розсилку</h3>
                <div class="subscribe">
                    <input type="email" class="subscription-email" id="email-input" placeholder="E-mail" />
                    <button type="submit" class="subscription-button" onclick="clearEmailField()">
                        Підписатися <img src="./images/icon-telegram.svg" class="footer-icon-telegram"
                            alt="icon-telegram" width="24" height="24">
                    </button>
                </div>
            </div>
        </footer>
    </div>

    <div class="modal-contacts" id="form-modal">

        <div class="modal-form-container">

            <button class="close-button">x</button>
            <form action="/form-contact" method="POST" class="modal-form" data-netlify="true" id="form">

                <h3 class="modal-form-title">Залиште свої дані, ми вам передзвонимо</h3>

                <ul class="modal-form-list">
                    <li class="modal-form-field">
                        <label for="name" class="modal-field-name">Ім'я</label>
                        <div class="input-icons">
                            <i class="material-icons">person</i>
                            <input type="text" class="modal-field-input" id="name" name="Ім'я" required>
                        </div>
                    </li>

                    <li class="modal-form-field">
                        <label for="phone" class="modal-field-name">Телефон</label>
                        <div class="input-icons">
                            <i class="material-icons">call</i>
                            <input type="text" class="modal-field-input" id="phone" name="Телефон" required>
                        </div>
                    </li>

                    <li class="modal-form-field">
                        <label for="email" class="modal-field-name">Пошта</label>
                        <div class="input-icons">
                            <i class="material-icons">mail</i>
                            <input type="email" class="modal-field-input" id="email" name="Пошта" required>
                        </div>
                    </li>

                    <li class="modal-form-field">
                        <label for="comment" class="modal-field-name">Коментар</label>
                        <input type="text" class="modal-field-input" id="comment" name="Коментар">
                    </li>
                </ul>

                <button type="submit" class="modal-form-button" id="contact-send-button">Відправити</button>
            </form>

        </div>
    </div>

    <div class="modal-contacts" id="success-modal">

        <div class="modal-form modal-form-container">
            <button class="close-button">x</button>
            <h3 class="modal-form-title">Дякуємо, Ваші дані збережені</h3>
        </div>

    </div>


    <div id="modal" class="modal">
        <div class="modal-content">

            <span class="close">&times;</span>
            <form action="/orders" method="POST" class="modal-form" data-netlify="true" id="form1">

                <h3 class="modal-form-title">Залиште свої дані для замовлення послуги</h3>

                <ul class="modal-form-list">
                    <li class="modal-form-field">
                        <label for="user-name" class="modal-field-name">Прізвище</label>
                        <div class="input-icons">
                            <i class="material-icons">person</i>
                            <input type="text" class="modal-field-input" name="lastName" id="lastName" required>
                        </div>
                    </li>

                    <li class="modal-form-field">
                        <label for="user-name" class="modal-field-name">Ім'я</label>
                        <div class="input-icons">
                            <i class="material-icons">person</i>
                            <input type="text" class="modal-field-input" name="firstName" id="firstName" required>
                        </div>
                    </li>

                    <li class="modal-form-field">
                        <label for="user-name" class="modal-field-name"> Номер телефону</label>
                        <div class="input-icons">
                            <i class="material-icons">call</i>
                            <input type="text" class="modal-field-input" name="phone" id="phone1" required>
                        </div>
                    </li>

                    <li class="modal-form-field">
                        <label for="user-name" class="modal-field-name"> Email</label>
                        <div class="input-icons">
                            <i class="material-icons">mail</i>
                            <input type="email" class="modal-field-input" name="email" id="email1" required>
                        </div>
                    </li>

                    <li>
                        <label for="category" class="modal-field-name"> Категорія </label><br>
                        <select name="category" id="category" required>
                            <option value="" selected disabled>Оберіть категорію</option>
                            <% categories.forEach((category)=> { %>
                                <option value="<%= category %>">
                                    <%= category %>
                                </option>
                                <% }); %>
                        </select>
                    </li>
                    <li>
                        <label for="service" class="modal-field-name"> Послуга </label><br>
                        <select name="service" id="service"></select>
                    </li>
                </ul>

                <button type="submit" id="service-submit">Відправити</button>
            </form>
        </div>
    </div>

    <div id="success-modal1" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 class="modal-form-title">Ваш запит успішно відправлено!</h3>
            <p>Дякуємо за вашу заявку. Ми зв'яжемось з вами найближчим часом.</p>
        </div>
    </div>

    <script src="./js/index.js"></script>
    <script src="./js/form.js"></script>
    <script src="./js/secondForm.js"></script>
</body>

</html>